<!DOCTYPE html>
<html>
<head>
 <title>My Gallery</title>
<style>
* {
  box-sizing: border-box;
}

.column {
  float: left;
  width: 33.33%;
  padding: 5px;
}

.row{
	width:900px;
	align:center;
	margin: auto;
  padding: auto;
}
.row::after {
  content: "";
  clear: both;
  display: table;
}

</style>
</head>
<body>

<h1 style="text-align:center;">Image Gallery</h1>
<div  style="text-align:center; margin: auto;"><a href="login">Logout</a></div>

<div class="row">
  <div class="column">
    <img src="static/images/1.jpg" alt="Snow" onclick="window.open(this.src)" style="width:100%">
  </div>
  <div class="column">
    <img src="static/images/2.jpg" alt="Forest" onclick="window.open(this.src)" style="width:100%">
  </div>
  <div class="column">
    <img src="static/images/3.jpg" alt="Mountains"onclick="window.open(this.src)" style="width:100%">
  </div>
  <div class="column">
    <img src="static/images/4.jpg" alt="Mountains" onclick="window.open(this.src)" style="width:100%">
  </div>
   <div class="column">
    <img src="static/images/5.jpg" alt="Mountains" onclick="window.open(this.src)" style="width:100%">
  </div>
   <div class="column">
    <img src="static/images/6.jpg" alt="Mountains" onclick="window.open(this.src)" style="width:100%">
  </div>
   <div class="column">
    <img src="static/images/7.jpg" alt="Mountains" onclick="window.open(this.src)" style="width:100%">
  </div>
</div>
<h1 style="text-align:center;">My Avatar </h1>
<div class="row">
   <div class="column" id="avatar_id" name="avatar">
    <img src={{file}} alt="Mountains" onclick="window.open(this.src)" style="width:100%">
  </div>
</div>
<form style="text-align:center;" method="POST" enctype="multipart/form-data">
            <br />
         
            {% for message in get_flashed_messages() %}
            <p class="success">{{ message }}</p>
            {% endfor %}
            <br />
            Upload new photo
            <br />
            <br />
            <input type="file" name="file" placeholder="File Location" autofocus autocomplete="off">
            <input type="submit" value="Upload" />
        </form>

</body>
</html>
